# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go workspace files
*.test
# *.out  # Comment this out temporarily

# Dependency directories
vendor/
Gopkg.lock
Gopkg.toml

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Other files
*.log